apiVersion: apps/v1
kind: Deployment
metadata:
  name: helloworld-demo-python
  labels:
    app: python
spec:
  replicas: 3
  selector:
    matchLabels:
      app: python
  template:
    metadata:
      labels:
        app: python
    spec:
      containers:
      - name: python
        image: rtsathish/helloworld-demo-python:rt
        ports:
        - containerPort: 8080
